.top {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.content {
  margin: 5rem auto;
  width: 90%;
}

.section {
  margin: 5rem 0;
}

.section .txt {
  margin-top: 1.5rem;
}

.title,
.title2,
.title3 {
  text-align: left;
  border: none;
}

.top .txt {
  color: rgb(196, 196, 196);
  text-decoration: none;
}

.top .txt:hover {
  color: #db8300;
}

.overview {
  color: #db8300;
  margin-top: 2rem;
  border-top: 1px solid #db8300;
  border-bottom: 1px solid #db8300;
}

.overview-list {
}

.overview-list-item {
  margin-top: 2rem;
}

.overview-list-item .txt {
  text-align: left;
}

.back {
  display: flex;
  justify-content: center;
}

.link {
  color: #db8300;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.post-image {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  .content {
    width: 65%;
  }
}
