.grid-2_col {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  align-items: baseline;
}

.grid-2_col-alt {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, min-content);
  margin-top: 2.5rem;
  grid-column-gap: 1.5rem;
  align-items: center;
}

.grid-card_img {
  grid-area: 2/1/3/5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 30rem;
}

.grid-card_date {
  grid-area: 1/1/2/3;
  margin: 1rem 0 1rem 0;
  text-align: left;
}

.grid-card_author {
  grid-area: 1/1/2/5;
  text-align: right;
  margin: 1rem 0 1rem 0;
}

.grid-card_title {
  grid-area: 3/1/4/5;
  margin: 0;
  padding: 0;
}

.grid-card_desc {
  display: none;
}

.grid-card_btn {
  grid-area: 4/1/5/3;
}

.grid-2_col-alt .link {
  display: flex;
  flex-direction: column;
  color: #0051a8;
  text-decoration: none;
  margin: 5rem 0 2.5rem 60%;
}

.about .grid-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content 50rem min-content min-content;
}

.about .title {
  grid-area: 1/1/2/5;
}

.about .grid-card_desc {
  margin: 2.5rem 0;
}

.about .grid-card_img {
  min-height: 50rem;
}

.about .grid-card_desc {
  grid-area: 4/1/5/5;
  display: block;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .grid-2_col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
  }
  .grid-card_img {
    grid-area: 1/1/5/3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .grid-card_date {
    grid-area: 1/3/2/4;
  }

  .grid-card_author {
    grid-area: 1/4/2/5;
    text-align: right;
  }

  .grid-card_title {
    grid-area: 2/3/3/5;
    margin: 0;
    padding: 0;
  }
  .grid-card_desc {
    display: block;
    grid-area: 3/3/4/5;
  }
  .grid-card_btn {
    grid-area: 4/3/5/4;
  }
  .grid-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content);
    margin-top: 2.5rem;
    grid-column-gap: 1.5rem;
  }
  .about .title {
    grid-area: 2/3/3/5;
  }

  .about .grid-card_img {
    height: 100%;
  }

  .about .grid-card_desc {
    grid-area: 3/3/4/5;
    display: block;
    text-align: left;
    margin: 2.5rem 0;
  }
}

@media screen and (min-width: 1000px) {
  .grid-2_col-alt {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4.5rem;
  }
  .grid-card_btn {
    grid-area: 4/3/5/4;
    width: 50%;
  }
}
